<a href="https://colab.research.google.com/github/heroorkrishna/Baisic-Intro-to-NLTK-Python/blob/master/Real_Estate_Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Web Scraping Real Estate**

We will be scraping the real estate data from Makaan.com for the properties listed for sale in hyderabad. We will scrape the first 50 pages of the listing.

**Libaries used :**

Pandas
Requests
BeautifulSoup
Time
Random

In [5]:
#import pandas, requests, beautifulsoup, time and random

import pandas as pd 
import requests
from bs4 import BeautifulSoup
from time import time   
from time import sleep 
from IPython.core.display import clear_output
from random import randint

In [7]:
Agent = []                    #Name of the agent
BHK_Apartment = []            #Number of BHK
Price_in_lakhs = []           #Price of the apartment in lakhs
Per_square_ft_price = []      #Price per square feet
Apartment_size = []           #Size of the aprtment
Status = []                   #Status of the apar


#monitoring the loop
start_time = time()
request = 0

#crawl through first 500 pages
for pages in range(1,51):
  response = requests.get('https://www.makaan.com/bangalore-residential-property/buy-property-in-bangalore-city?budget=,&page=' + str(pages))

  #pause and wait for 3-6 sec
  sleep(randint(3,6))
  
  #Monitor the request
  request += 1
  elapsed_time = time() - start_time
  print('Request:{}; Frequency: {} requests_per_sec'.format(request, request/elapsed_time))
  clear_output(wait = True)

  #pass html parser and find all the 'li' tags
  soup = BeautifulSoup(response.text,'html.parser')
  property_list = soup.find_all('li',class_='cardholder')

  #iterate through all the list
  for lst in property_list:

    #if proerty has seller info
    if lst.find('div', class_ = 'seller-info') is not None:

      #find name of the seller and append it ine Agent list
      name = lst.a.text
      Agent.append(name)

      #find number of bhk and append it in BHK_Apartment
      apartment = lst.find('div',class_='title-line').span.text
      BHK_Apartment.append(apartment)

      #Find price of the apartment and append it in Price in lakhs
      price = lst.tbody.div.span.text
      Price_in_lakhs.append(price)

      #Find price per square feet and append it in per_square_ft_price
      sqt_price = lst.find('td',class_='lbl rate').text
      Per_square_ft_price.append(sqt_price)

      #find size of the apartment and append it in Apartment_size
      a_size = lst.find('td',class_ = 'size').span.text
      Apartment_size.append(a_size)

      #find the status of the apartment and append it in Status
      stat = lst.find('td',class_ = 'val').text 
      Status.append(stat)

Request:50; Frequency: 0.19286162260058148 requests_per_sec

In [8]:

#create a dataframe with column names ---> 
  #Agent -----> Name of the agent
  #BHK_Apartment ------> Number of BHK
  #Price_in_lakhs -----> Price of the apartment in lakhs
  #Per_square_ft_price ---> Price per square feet
  #Apartment_Size ------> Size of the aprtment
  #Status ------------> Status of the apartment (New,Re-sale,Ready to move etc)

Bangalore_apartments = pd.DataFrame({'Agent' : Agent, 'BHK_Apartment' : BHK_Apartment,'Price_in_lakhs' : Price_in_lakhs,
                                     'Per_Square_ft_price' : Per_square_ft_price, 'Aprtment_Size' : Apartment_size, 'Status' : Status})
Bangalore_apartments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Agent                1000 non-null   object
 1   BHK_Apartment        1000 non-null   object
 2   Price_in_lakhs       1000 non-null   object
 3   Per_Square_ft_price  1000 non-null   object
 4   Aprtment_Size        1000 non-null   object
 5   Status               1000 non-null   object
dtypes: object(6)
memory usage: 47.0+ KB

In [9]:
#Print Head
Bangalore_apartments.head(10)

                           Agent  ...              Status
0                  TG Developers  ...  Under Construction
1  Prestige Estates Projects Ltd  ...       Ready to move
2              Hiren Wahen Group  ...  Under Construction
3                      V Venture  ...  Under Construction
4                      NYK Homes  ...  Under Construction
5       BSCPL Infrastructure Ltd  ...       Ready to move
6      ISR Constructions Pvt Ltd  ...  Under Construction
7              Sidvin Developers  ...       Ready to move
8        LVS Builders Developers  ...  Under Construction
9     Celebrity Prime Developers  ...                 New

[10 rows x 6 columns]

In [10]:

#download the data in local system
Bangalore_apartments.to_csv('Bangalore_Apartments.csv')